
    @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url(static/AtkinsonHyperlegible-Regular.ttf);
    }

    @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url(static/AtkinsonHyperlegible-Bold.ttf);
        font-weight: bold;
    }

    html,
    body {
        font-family: "Atkinson Hyperlegible", sans-serif;
    }

    b {
        font-weight: 500;
    }

    body {
        background-color: #37393f;
        color: white;
    }

    p {
        font-size: 105%;
        padding-top: 1em;
    }

    a {
        color: #59f;
    }
